.title {
  background-color: aqua;
  text-align: center;
  color: black;
  font-family: fantasy;
  font-size: 40px;
  border-radius: 50px;
  margin-top: 50px;
}

#funcionamento {
  text-align: center;
  border-radius: 50px;
}

#criar-tarefa {
  border-radius: 5px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
}

#apaga-tudo {
  border-radius: 5px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
}

#remover-finalizados {
  border-radius: 5px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
}

#lista-tarefas {
  background-color: chocolate;
  text-align: center;
}

li {
  list-style-position: inside;
  cursor: pointer;

}

ol {
  padding: auto;
}

.completed {
  text-decoration: line-through;
}
