
.title {
 background-color: aqua;
 text-align: center;
 color: rgb(0, 0, 0);
 font-family: fantasy;
 font-size: 40px;
 border-radius: 50px;
 margin-top: 50px;
}

#funcionamento {
  text-align: center;
  border-radius: 50px;
}

#criar-tarefa {
  border-radius: 5px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
}
#apagar{
  border-radius: 5px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
}

#remover{
  border-radius: 5px;
  background-color: aqua;
  text-align: center;
  cursor: pointer;
}

#lista-tarefas {
  background-color: chocolate;
  text-align: center;
}

li {
  list-style-position: inside;
  cursor: pointer;
  
}

ol {
  padding: auto;
}

.completed {
  text-decoration: line-through;
}